.elementor-kit-8 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-45317d55: #4054B2;
    --e-global-color-1abebb3: #23A455;
    --e-global-color-4fc24ffa: #000;
    --e-global-color-3df19405: #FFF;
    --e-global-color-4b25b3d: #0A29B8;
    --e-global-color-267cfa89: #020101;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: #000000;
}

.elementor-kit-8 a {
    color: #009ED5;
}

.elementor-kit-8 h1 {
    color: #000000;
}

.elementor-kit-8 h2 {
    color: #000000;
}

.elementor-kit-8 h3 {
    color: #000000;
}

.elementor-kit-8 h4 {
    color: #000000;
}

.elementor-kit-8 h5 {
    color: #000000;
}

.elementor-kit-8 h6 {
    color: #000000;
}

.elementor-kit-8 button,
.elementor-kit-8 input[type="button"],
.elementor-kit-8 input[type="submit"],
.elementor-kit-8 .elementor-button {
    background-color: rgba(171, 171, 171, 0.94);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #FFFFFF;
}

.elementor-kit-8 button:hover,
.elementor-kit-8 button:focus,
.elementor-kit-8 input[type="button"]:hover,
.elementor-kit-8 input[type="button"]:focus,
.elementor-kit-8 input[type="submit"]:hover,
.elementor-kit-8 input[type="submit"]:focus,
.elementor-kit-8 .elementor-button:hover,
.elementor-kit-8 .elementor-button:focus {
    background-color: #7A7A7A;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
}